* {
  padding: 0;
  margin: 0;
  /* setto universalmente il modo di calcolare le dimensioni degli elementi */
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  color: #333;
  font-family: 'Poppins', Times, serif;
}

.hero {
  padding: 100px;
}

.hero__title {
  color: black;
}

.hero__description {
  color: #81da76;
}

#hero__highlight {
  color: #dbfbe0;
}

.feature {
  padding: 100px;
}

.feature__item {
  padding: 30px 0px;
}

.feature__title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #23c73c;
  margin-bottom: 10px;
}

.feature__title--selected {
  text-decoration: underline;
}

.feature__description {
}

.cta {
  padding: 100px;
  background-color: #5bb471;
  color: #fff;
  text-align: center;
}

.cta__description {
  padding: 15px 0;
  color: #dbdbdb;
}

button {
  color: none;
  border: none;
}

.cta__button {
  padding: 10px 20px;
}

/* un elemento html è composto da diverse parti: margin, border, padding e content. Il content ha una larghezza ed una altezza */
/* il concetto di box model è importante perchè ci permette di capire come gli elementi html interagiscono tra di loro nello spazio */
/* un elemento ha una larghezza ed una altezza, di norma queste dimensioni non includono il padding o il border, ad esempio una immagine è 100px più il padding 50px ed il border 10px, la larghezza totale sarebbe 100 + 50 + 50 (padding right + padding left) + 10 + 10 (border right + border left), quindi il totale è 220px. Questo comportamento è quello di default, definibile con la property box-sizing: content-box. Se invece volessimo includere tutto dovremmo definire la property con value border-box, quindi se volessi una immagine con una larghezza totale di 300px, con padding R e L di 50px e border R e L di 10px avrei una width del content di 300 - 50 - 50 - 10 - 10 = 180px  */

.video {
  text-align: center;
  padding: 100px;
  font-weight: 500;
}

.video__title {
  font-size: 32px;
  font-weight: 500;
}

.video__description {
  margin-top: 10px;
  font-weight: 300;
  color: #6e6e6e;
}

.video__controls {
  margin-top: 20px;
}

.video__button {
  /* shorthand per border: size, stile linea, colore */
  border: 1px solid #5bb471;
  background: none;
  padding: 10px 20px;
}

.video__button--primary {
  margin-right: 10px;
}

.video__container {
  margin-top: 20px;
  background-color: #ccc;
  /* la larghezza riferisce al parent, in questo caso il aprent è la section .video che ha una larghezza del 100% ma padding 100px, quindi il 100% del child è dato dal 100% del parent - il padding L e R */
  width: 100%;
  height: 500px;
  /* utilizzare il tool cssmatic */
  box-shadow: 1px 4px 7px 4px rgba(0, 0, 0, 0.33);
}
